

@model Bans.Model.ViewModel.ShoppingCartVM

<form method="post">
    <div class="container mt-4">
        <div class="card">
            <div class="card-header bg-dark text-light">
                <div class="row">
                    <div class="col-6">
                        <i class="fa fa-shopping-cart"></i> Shopping Cart
                    </div>
                    <div class="col-6 text-end">
                        <!-- Any additional header elements -->
                        <a asp-area="Customer" asp-controller="Home" asp-action="Index" class="btn btn btn-outline-info btn-sm">Continue Shopping</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                @if (Model.ListCart != null)
                { 

                    @foreach (var item in Model.ListCart)
                    {
                        <div class="row">
                            <div class="col-lg-1 d-none d-lg-block text-center">
                                <img src="/@item.Product.ImageURL" class="rounded" width="100%" alt="Product Image">
                            </div>
                            <div class="col-lg-11">
                                <div class="row">
                                    <div class="col-12 col-md-6">
                                        <h5><strong>@item.Product.Name</strong></h5>
                                        <p><small>@item.Product.Description</small></p>
                                    </div>
                                    <div class="col-12 col-md-6 text-end">
                                        <h6><strong>@item.Price.ToString("c") <span class="text-muted">x</span> @item.count</strong></h6>
                                        <div class="row align-items-center">
                                            <div class="col-6 col-md-4">
                                                <div class="btn-group">
                                                    <a asp-action="plus" asp-route-cartId="@item.Id" class="btn btn-primary">
                                                        <i class="bi bi-plus-square"></i>
                                                        +
                                                    </a>
                                                    <a asp-action="minus" asp-route-cartId="@item.Id" class="btn btn-warning">
                                                        <i class="bi bi-dash-square"></i>
                                                        -
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="col-6 col-md-2 text-end">
                                                <a asp-action="remove" asp-route-cartId="@item.Id" class="btn btn-danger">
                                                   @*  <i class="bi bi-trash-fill"></i> *@
                                                    
                                                   DELETE
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                               
                            </div>
                         
                        </div>
                    }
                }
                else
                {
                    <h1>Gio Hang NUll</h1>
                }
            </div>

            <div class="card-footer">
                <div class="row">
                    <div class="col-md-6">
                        <!-- Additional footer content if any -->
                    </div>
                    <div class="col-md-6 text-end">
                        <ul class="list-group">
                            <li class="list-group-item d-flex justify-content-between bg-light">
                                <span class="text-info">Total (USD)</span>
                                <strong class="text-info">@Model.CartTotal.ToString("c")$$$</strong>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-3">
        <div class="row">
            <div class="col-md-6 offset-md-6">
                <a asp-action="Summary" class="btn btn-success btn-block">Summary</a>
            </div>
        </div>
    </div>
   
</form>
